.app {
  max-width: 90%;
  margin: auto;
  display: grid;
  justify-content: center;
}

.navigation_tabs {
  padding-top: 150px;
}

.navigation_tabs ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.navigation_tabs ul li {
  opacity: .7;
  cursor: pointer;
  font-weight: 800;
}

.navigation_tabs ul li.active {
  opacity: 1;
}

.tabs {
  border: 2px solid white;
  border-top: none;
  margin-top: -20px;
  padding: 20px;
}